body {
  font-family: "Arial";
}

li {
  list-style: none;
}

.header {
  background-color: black;
  color: #fff;
  height: 90px;
  width:100%;
}

.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}

.header-list li {
  float: left;
  padding: 33px 20px;
}
.header-list a{
  color:white;
  opacity: 0.8;
  display:block;
  transition:all 0.5s;
  text-decoration: none;
}
.header-list a:hover{
  opacity: 1;
}
.main {
  padding-top: 100px ;
  text-align:center;
}

.copy-container h1 {
  font-size: 140px;
}

.copy-container p {
  font-size: 60px;
}

.copy-container span {
  color: #e9b340;
  font-family:"Avenir Next";
}
.copy-container img {
  width:300px;
  height:300px;
  padding-bottom:100px;
}
.copy-container2{
  padding-top:50px ; 
  background: rgb(231, 231, 236);
  padding-bottom:50px;
}
.copy-container2 p{
  padding-left: 10px;
  padding-right: 10px;
}
.baris1 {
  letter-spacing: 0.1px;
}
.copy-container3 h3{
  padding-top: 100px;
}
.li img{
  width: 65%;
  
}
.flex-list {
  display: flex;
  padding-top:50px;
  padding-bottom:150px;
}

.flex-list li{
 flex:auto; 
}
.contact-form{
  background-color: #f2f6f8;
  padding-top:50px;
  padding-bottom:150px;
}
.contact-form a{
  text-decoration: none;
}
.contact-form input{
  width:700px;
  margin-top:10px;
  margin-bottom:30px;
  padding:20px;
  font-size:18px;
  border:1px solid white;
  border-radius: 10px;
  padding-bottom:40px;
}
.btn{
  padding:24px 200px;
  background-color:#e7e421;
  color:#080808;
  opacity:0.7;
  border-radius: 10px;
}
.btn:hover{
  opacity: 1;
}
.footer {
  background-color: #6b7780;
  color: #fff;
  height: 120px;
  padding: 40px;
}

.footer-logo {
  float: left;
  font-size: 32px;
}

.footer-list {
  float: right;
}

.footer-list li a{
  padding-bottom: 20px;
  text-decoration: none;
  line-height: 40px;
}
.footer-list a{
  color:white;
  opacity: 0.4;
}
.footer-list a:hover{
  opacity: 1;
}

@media (max-width:1000px) {
  /* Ganti warna <h1> ke blue */
    h1{
      color:blue;
      font-size: 50px;
    }
  }
/* Tata letak untuk Tablet */
@media (max-width: 1000px) {
  .contents {
    flex-wrap: wrap;
  }
  .lesson-icon{
    width: 50%;
  }
}

/* Tata letak untuk Smartphone */
/*670px dan di bawahnya ke media query */
@media (max-width:670px) {
  /* Tetapkan flex-direction milik .flex-list */
  .flex-list{
  flex-direction:column;
  }
  /* Tetapkan margin dari .flex-list li ke 0 auto */
  .flex-list li{
    margin:0 auto;
  }
  
}
